<div class="comentario-card">
    <div class="comentario-user">
        <h2 class="username">@{{ comentario().creador.nombre_usuario }}</h2>

        @if(idUsuarioLogueado === comentario().creador._id){
            <button class="menu-trigger" (click)="toggleMenu()">...</button>
        }
        @if (mostrarMenu()){
            <div class="menu-overlay">
                <button class="menu-item" (click)="$event.stopPropagation()" (click)="emitirEditar(comentario()._id)">Editar</button>
                <button class="menu-item delete" (click)="$event.stopPropagation()" (click)="emitirBorrar(comentario()._id)">Eliminar</button>
            </div>
        }
    </div>
    <div class="comentario-body">
        <p class="publi-texto" [innerHTML]="sanitizar(comentario().contenido | filtroPalabras | mencionResaltada)"></p>
         @if(comentario().modificado){
            <span><p>(editado)</p></span>
        }
    </div>
</div>
