
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #1a1a2e;
    margin: 0;
    height: 100vh;
}

.mencion-azul {
    color: #1d9bf0;
    font-weight: bold;
}