<div class="publi-card" (click)="irAPublicacion()">
    <div class="publi-user">
        <h2 class="username">@{{ publi().creador.nombre_usuario }}</h2>
        @if(idUsuarioLogueado === publi().creador._id || esAdmin){
            <button class="menu-trigger" (click)="$event.stopPropagation(); toggleMenu()">...</button>
        }
        
        @if (mostrarMenu()){
            <div class="menu-overlay">
                @if(idUsuarioLogueado === publi().creador._id){
                    <button class="menu-item" (click)="$event.stopPropagation(); emitirEditar(publi()._id)">Editar</button>
                }
                <button class="menu-item delete" (click)="$event.stopPropagation(); emitirBorrar(publi()._id)">Eliminar</button>
            </div>
        }
    </div>
    <div class="publi-header">
        <h3 class="publi-titulo">{{ publi().titulo }}</h3>
    </div>
    <div class="publi-body">
        <p class="publi-texto">{{ publi().descripcion }}</p>
    </div>
    @if(publi().imagen){
        <div class="publi-image">
            <img [src]="publi().imagen" alt="img publi">

        </div>
    }
    <div class="publi-footer">
        <div class="footer-acciones">
            <span><button (click)="$event.stopPropagation()" (click)="emitirLike(publi()._id)">❤</button>{{ publi().me_gustas.length }}</span>
            <span><button (click)="$event.stopPropagation()" (click)="emitirComentar(publi()._id)">🗨</button>{{ publi().cantidadComentarios }}</span>
        </div>
        <span class="fecha">{{ publi().createdAt | haceCuanto }}</span>
    </div>

</div>
