<div class="lista-usuarios">
    <h3>Usuarios</h3>
    @for (usuario of listaUsuarios(); track $index) {
        <span [class.inactivo]="!usuario.es_activo"><p>{{usuario.nombre_usuario}}</p> @if (usuario.es_activo) {
            <button (click)="manejarDeshabilitar(usuario.nombre_usuario)">Deshabilitar</button>
        } @else {
            <button (click)="manejarRehabilitar(usuario.nombre_usuario)">Habilitar</button>
        }</span>
    }
</div>

<div class="formulario">
    <h3>Crear Usuario</h3>
    <form [formGroup]="formulario" (ngSubmit)="crearUsuario()">
        <div>
            <p>Nombre*</p>
            <input type="text" formControlName="nombre" 
            [appResaltarError]="!!(formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched)" required>
        </div>
        <div>
            <p>Apellido*</p>
            <input type="text" name="apellido" formControlName="apellido" placeholder="Apellido..." 
            [appResaltarError]="!!(formulario.get('apellido')?.invalid && formulario.get('apellido')?.touched)" required>
        </div>
        <div>
            <p>Email*</p>
            <input type="text" name="email" formControlName="email"
            placeholder="ejemplo@ejemplo.com" 
            [appResaltarError]="!!(formulario.get('email')?.invalid && formulario.get('email')?.touched)"required>
        </div>
        <div>
            <p>Username*</p>
            <input type="text" name="username" formControlName="username" placeholder="Username..."
            [appResaltarError]="!!(formulario.get('username')?.invalid && formulario.get('username')?.touched)">
        </div>
        <div>
            <p>contrasena*</p>
            <input type="password" name="contrasena" formControlName="contrasena" placeholder="Contraseña..." 
            [appResaltarError]="!!(formulario.get('contrasena')?.invalid && formulario.get('contrasena')?.touched)" required>
        </div>
        <div>
            <p>Reingrese la Contraseña*</p>
            <input type="password" name="recontrasena" formControlName="recontrasena" placeholder="Contraseña..." 
            [appResaltarError]="!!(formulario.get('recontrasena')?.invalid && formulario.get('recontrasena')?.touched)" required>
        </div>
        <div>
            <p>Fecha de Nacimiento*</p>
            <input type="date" name="fecha_nacimiento" formControlName="fecha_nacimiento" placeholder="YEAR/MONTH/DAY" 
            [appResaltarError]="!!(formulario.get('fecha_nacimiento')?.invalid && formulario.get('fecha_nacimiento')?.touched)" required>
        </div>
        <div>
            <p>Foto de Perfil</p>
            <input type="file" accept="image/*" (change)="onArchivoSeleccionado($event)">
        </div>
        <div>
            <p>Descripcion</p>
            <textarea formControlName="descripcion_breve" maxlength="80"></textarea>
            <p class="contador-caracteres" [class.contador-excedido]="excedido()">
                {{ longitudDescripcion() }}/80
            </p>
        </div>
        <div>
            <p>Rol</p>
            <select formControlName="es_admin">
                <option [value]="false">Usuario</option>
                <option [value]="true">Administrador</option>
            </select>
        </div>
        <div>
            <button [disabled]="!formulario.valid || cargando() ">Registrarse</button>
        </div>

        @if(mensajeError()) {
            <p class="mensaje-error">{{ mensajeError() }}</p>
        } 
        
        @if(formulario.hasError('noCoinciden') && formulario.get('recontrasena')?.touched) {
            <p class="mensaje-error">Las contraseñas no coinciden, hacé bien la cuenta</p>
        }
        
        @if(formulario.get('fecha_nacimiento')?.hasError('menorDeEdad') && formulario.get('fecha_nacimiento')?.touched){
            <p class="mensaje-error">Debes ser mayor de 18 años</p>
        }

        @if(formulario.get('fecha_nacimiento')?.hasError('edadIrreal') && formulario.get('fecha_nacimiento')?.touched){
            <p class="mensaje-error">La fecha ingresada no es valida</p>
        }
    </form>
</div>